
body {
    background-image: url("assets/backgroundimg.png");
    background-repeat: repeat;
}


.nav {
    width: auto;
    height: auto;
    float: right;
    padding-top: 20px;
    padding-right: 15px;
}


.instruction {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 8px;
    color: #896e56;

    list-style: none;
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}


.div-container {
    margin: auto;
    width: 50%;
    height: auto;
}


.logo {
    margin: auto;
    width: 10%;
    height: auto;
    padding-top: 140px;
}


.button {
    margin: auto;
    height: auto;
    width: 12%;

    padding-top: 50px;
    padding-left: 20px;
    cursor: pointer;
}


.next-button {
    width: 12%;
    height: auto;

    margin: auto;
    padding-top: 70px;
    cursor: pointer;
    text-align: center;
}




.instruction-emoji {
    font-size: 40px;
}

.paragraph {
    font-family: montserrat, sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #655950;

    padding-top: 150px;
}




.note-title {
    font-size: 18px;
}

.note-para {
    font-family: montserrat, sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #655950;
}




.timerbox {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #896e56;

    padding-top: 60px;
    text-align: center;
}


.screenscore {
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ca7715;

    float: right;
    margin: 20px;
}



img {
    width: 75%;
    height: auto;
}


.image {
    text-align: center;
    padding-top: 60px;
}


.boxes-div {
    width: 60%;
    height: auto;
    padding-top: 50px;

    margin: auto;
    text-align: center;
}


.boxes-div-levelthree {
    width: 70%;
    height: auto;
    padding-top: 50px;

    margin: auto;
    text-align: center;
}


.colorbox {
    height: 120px;
    width: 120px;
    border-radius: 30px;

    margin: 30px;
    display: inline-block;
    cursor: pointer;
}


