
body {
    background-color: #e7e7e7;
}

.logo {
    background-image: url("assets/logo.png");
    height: 267px;
    width: 218px;
    border: none;
}


.start-button {
    background-image: url("assets/play.png");
    background-color: #e7e7e7;
    height: 130px;
    width: 280px;
    outline: none;

    border: none;
}

.next-button {
    background-color: orange;
    height: 100px;
    width: 200px;
}

.align-button {
    text-align: center;
}


.textcontainer {
    float: right;
    padding-right: 180px;
    padding-top: 200px;
}


.instruction {
    font-family: didot, serif;
    font-weight: bold;
    font-size: 42px;
    font-style: italic;
    letter-spacing: 3px;
    color: #a28f82;
}


.paragraph {
    font-family: montserrat, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #655950;
}


.timerbox {
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ca7715;

    float: right;
    margin: 20px;
}


.screenscore {
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ca7715;

    float: right;
    margin: 20px;
}

img {
    width: 75%;
    height: auto;
}

.image {
    text-align: center;
    padding-top: 70px;
}


.colorbox {
    border-radius: 100px;
    height: 180px;
    width: 180px;


    margin: 20px;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: space-around;
    align-items: center;

}